<div class="row">
        <div class="col-sm-6">
            <div class="card card-default">
                <div class="card-block">
                    <div class="card">
                        <div class="card-header card-warning card-inverse">
                            <span class="card-title">Fleet Message Management</span>
                        </div>
                        <div class="card-block">
                            <form>
                                <!-- Fleet Message Management Row -->
                                <div class='row'>
                                    <!-- Col block 1 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">Option&nbsp;&nbsp;</label>
                                            <select class="form-control">
                                    <option>Typed Message</option>
                                    <option>Comms Check?</option>
                                    <option>Lost Comms</option>
                                    <option>Target =</option>
                                    <option>BOX BOX BOX</option>
                                </select>
                                        </div>
                                    </div>
                                    <!-- Col block 2 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">Message&nbsp;&nbsp;</label>
                                            <input type="text" class="form-control" id="inputemail3">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Fleet Management Row -->
    
                                <!-- Fleet Management Row -->
                                <div class='row'>
                                    <!-- Col block 1 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">Recipient&nbsp;&nbsp;</label>
                                            <select class="form-control">
                                      <option>Team</option>
                                      <option>Arrow1</option>
                                      <option>Lead</option>
                                      <option>Chase</option>
                                  </select>
                                        </div>
                                    </div>
                                    <!-- Col block 2 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">&nbsp;&nbsp;</label>
                                            <button type="submit" class="btn btn-secondary form-control">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Fleet Management Row -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="card card-default">
                <div class="card-block">
                    <div class="card">
                        <div class="card-header card-warning card-inverse">
                            <span class="card-title">Data Point Manual Entry</span>
                        </div>
                        <div class="card-block">
                            <form>
                                <!-- Fleet Message Management Row -->
                                <div class='row'>
                                    <!-- Col block 1 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">Entry Type&nbsp;&nbsp;</label>
                                            <select class="form-control">
                                  <option>Manual Entry</option>
                                  <option>Latitude</option>
                                  <option>Longitude</option>
                                  <option>Distance Travelled (m)</option>
                                  <option>Distance Remaining (m)</option>
                                  <option>Velocity (m/s)</option>
                                  <option>Total Array Power (w)</option>
                                  <option>Bus Power (w)</option>
                                  <option>SOC Percentage</option>
                              </select>
                                        </div>
                                    </div>
                                    <!-- Col block 2 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">canDataPointID (if Manual)&nbsp;&nbsp;</label>
                                            <input type="text" class="form-control" id="">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Fleet Management Row -->
    
                                <!-- Fleet Management Row -->
                                <div class='row'>
                                    <!-- Col block 1 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">Float Value&nbsp;&nbsp;</label>
                                            <input type="text" class="form-control" id="">
                                        </div>
                                    </div>
                                    <!-- Col block 2 -->
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="">&nbsp;&nbsp;</label>
                                            <button type="submit" class="btn btn-secondary form-control">Send Packet</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Fleet Management Row -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Fleet Management Main Row 2 -->
    <div class='row'>
        <div class='col-sm-6'>
            <div class="card card-default" style='height: 100%'>
                <div class="card-block">
                    <div class="card">
                        <div class="card-header card-info card-inverse">
                            <span class="card-title">GPS Manual Entry</span>
                        </div>
                        <div class="card-block">
                            <form>
                                <div class="form-group row">
                                    <label for="" class="col-sm-2 form-control-label text-xs-right">Latitude</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-2 form-control-label text-xs-right">Longitude</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-secondary">Send Packet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="card card-default" style='height: 100%'>
                <div class="card-block">
                    <div class="card">
                        <div class="card-header card-info card-inverse">
                            <span class="card-title">Predictions and Alerts</span>
                        </div>
                        <div class="card-block">
                            <form>
                                <div class="form-group row" style='margin-top: 1em'>
                                    <label for="" class="col-sm-2 form-control-label text-xs-right">Speed Predictions</label>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-warning btn-rounded">Download&nbsp;&nbsp;<i class="fa fa-download"></i></button>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row" style='margin-top: 1em'>
                                    <label for="" class="col-sm-2 form-control-label text-xs-right">Reset Alert Lights</label>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-danger btn-rounded">Reset&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>