<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

      <!-- Header -->
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

      <!-- SideNav Container  -->
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <!-- Core Navigation Block -->
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened=true>
          <!-- Navigation Options -->
        <mat-nav-list>
            <app-nav-option name='Overview' path='overview'></app-nav-option>
            <app-nav-option name='BWS Summary' path='bws'></app-nav-option>
            <app-nav-option name='Real-Time (2min)' path='real-time'></app-nav-option>
            <app-nav-option name='Short (10min)' path='short'></app-nav-option>
            <app-nav-option name='Medium (Today)' path='medium'></app-nav-option>
            <app-nav-option name='Fleet Management' path='fleet-management'></app-nav-option>
            <app-nav-option name='Config' path='config'></app-nav-option>
        </mat-nav-list>
      </mat-sidenav>
  
      <!-- Dashboard Content -->
      <mat-sidenav-content>
        <!-- <app-content-container></app-content-container> -->
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>

        <!-- Footer -->
    <mat-toolbar class="example-footer">Footer</mat-toolbar>

  </div>