<!-- Soc graph -->
<div class="card" style=''>
    <div class="card-header card-primary card-inverse">
        <span class="card-title">State Of Charge</span>
    </div>
    <div class="card-block" style='height:40%; width:100%;'>
                <!-- Drop down menu -->
                <div class="btn-group" ngbDropdown [class.show]="showSocMenu">
                        <button type="button"  (click)="toggle('soc')" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle style='margin-bottom: 1em'>
                            Range <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style='margin-bottom: 1em'>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("minsoc")'>Min</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("hoursoc")'>Hour</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("weeksoc")'>Week</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("alltimesoc")'>All Time</a></li>
                        </ul>
                        <button type="button" class="btn btn-secondary" style='margin-bottom: 1em; margin-left: 1em;' (click)="refreshData()">Refresh</button>
                    </div>
        <canvas id="socChart">{{ chart }}</canvas>
    </div>
</div>

<!-- Voltage graph -->
<div class="card" style=''>
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Voltage</span>
        </div>
        <div class="card-block" style='height:40%; width:100%;'>
                    <!-- Drop down menu -->
                    <div class="btn-group" ngbDropdown [class.show]="showVoltageMenu">
                            <button type="button"  (click)="toggle('voltage')" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle style='margin-bottom: 1em'>
                                Range <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style='margin-bottom: 1em'>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("minvoltage")'>Min</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("hourvoltage")'>Hour</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("weekvoltage")'>Week</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("alltimevoltage")'>All Time</a></li>
                            </ul>
                            <button type="button" class="btn btn-secondary" style='margin-bottom: 1em; margin-left: 1em;' (click)="refreshData()">Refresh</button>
                        </div>
            <canvas id="voltageChart">{{ voltageChart }}</canvas>
        </div>
    </div>

<!-- Current graph -->
<div class="card" style=''>
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Current</span>
        </div>
        <div class="card-block" style='height:40%; width:100%;'>
                    <!-- Drop down menu -->
                    <div class="btn-group" ngbDropdown [class.show]="showCurrentMenu">
                            <button type="button"  (click)="toggle('current')" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle style='margin-bottom: 1em'>
                                Range <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style='margin-bottom: 1em'>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("mincurrent")'>Min</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("hourcurrent")'>Hour</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("weekcurrent")'>Week</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)='rangeSelect("alltimecurrent")'>All Time</a></li>
                            </ul>
                            <button type="button" class="btn btn-secondary" style='margin-bottom: 1em; margin-left: 1em;' (click)="refreshData()">Refresh</button>
                        </div>
            <canvas id="currentChart">{{ currentChart }}</canvas>
        </div>
    </div>

<!-- Battery State of charge / balance -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Battery State of Charge/Balance</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SOC Percentage</th>
                            <th>SOC (aH)</th>
                            <th>Pack Current (mA)</th>
                            <th>Pack Voltage (mV)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='sb0'>
                          <!-- Battery state of charge measurements here -->
                          <td id="28484" class="okay">0</td>
                          <td id="28480" class="okay">0</td>
                          <td id="28580" class="okay">0</td>
                          <td id="28576" class="okay">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Cell Voltages -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Cell Voltages</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CMU</th>
                            <th>Cell Temp (C)</th>
                            <th>PCB Temp (C)</th>
                            <th>Cell 0 mV</th>
                            <th>Cell 1 mV</th>
                            <th>Cell 2 mV</th>
                            <th>Cell 3 mV</th>
                            <th>Cell 4 mV</th>
                            <th>Cell 5 mV</th>
                            <th>Cell 6 mV</th>
                            <th>Cell 7 mV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="cl0">
                            <td>CMU 1</td>  									
                                                
                            <td id="24596" class="okay">0</td>
                            <td id="24598" class="okay">0</td>
                                                                                
                            <td id="24608" class="okay">0</td>
                            <td id="24610" class="okay">0</td>
                            <td id="24612" class="okay">0</td>
                            <td id="24614" class="okay">0</td>
                            <td id="24624" class="okay">0</td>
                            <td id="24626" class="okay">0</td>
                            <td id="24628" class="okay">0</td>
                            <td id="24630" class="okay">0</td>
                        </tr>
                        <tr id="cl1">
                            <td>CMU 2</td>
                            
                            <td id="24644" class="okay">0</td>
                            <td id="24646" class="okay">0</td>
                                                                
                            <td id="24656" class="okay">0</td>
                            <td id="24658" class="okay">0</td>
                            <td id="24660" class="okay">0</td>
                            <td id="24662" class="okay">0</td>
                            <td id="24672" class="okay">0</td>
                            <td id="24674" class="okay">0</td>
                            <td id="24676" class="okay">0</td>
                            <td id="24678" class="okay">0</td>
                        </tr>
                        <tr id="cl2">													
                            <td>CMU 3</td>
                            
                            <td id="24692" class="okay">0</td>
                            <td id="24694" class="okay">0</td>
                                                            
                            <td id="24704" class="okay">0</td>
                            <td id="24706" class="okay">0</td>
                            <td id="24708" class="okay">0</td>
                            <td id="24710" class="okay">0</td>
                            <td id="24720" class="okay">0</td>
                            <td id="24722" class="okay">0</td>
                            <td id="24724" class="okay">0</td>
                            <td id="24726" class="okay">0</td>
                        </tr>
                        <tr id="cl3">
                            <td>CMU 4</td>
                            
                            <td id="24740" class="okay">0</td>
                            <td id="24742" class="okay">0</td>
                                                                                        
                            <td id="24752" class="okay">0</td>
                            <td id="24754" class="okay">0</td>
                            <td id="24756" class="okay">0</td>
                            <td id="24758" class="okay">0</td>
                            <td id="24768" class="okay">0</td>
                            <td id="24770" class="okay">0</td>
                            <td id="24772" class="okay">0</td>
                            <td id="24774" class="okay">0</td>
                        </tr>
                        <tr id="cl4">
                            <td>CMU 5</td>
                            
                            <td id="24788" class="okay">0</td>
                            <td id="24790" class="okay">0</td>								
                                                                
                            <td id="24800" class="okay">0</td>
                            <td id="24802" class="okay">0</td>
                            <td id="24804" class="okay">0</td>
                            <td id="24806" class="okay">0</td>
                            <td id="24816" class="okay">0</td>
                            <td id="24818" class="okay">0</td>
                            <td id="24820" class="okay">0</td>
                            <td id="24822" class="okay">0</td>
                        </tr>							
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Cell Min/Max Voltage -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Cell Min/Max Voltage</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>CMU Number</th>
                            <th>Cell Number</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="cmmv0">
                            <td>Minimum</td>
                            <td id="28548" class="okay">0</td>
                            <td id="28549" class="okay">0</td>
                            <td id="28544" class="okay">0</td>
                        </tr>
                        <tr id="cmmv1">
                            <td>Maximum</td>
                            <td id="28550" class="okay">0</td>
                            <td id="28551" class="okay">0</td>
                            <td id="28546" class="okay">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Fan status -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Fan Status</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>12V Current CMUs</th>
                            <th>12V Current Fans/Controllers</th>
                            <th>Fan Speed 0 (RPM)</th>
                            <th>Fan Speed 1 (RPM)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="ps0">
                            <td id="28614" class="okay">0</td>
                            <td id="28612" class="okay">0</td>
                            <td id="28608" class="okay">0</td>
                            <td id="28610" class="okay">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Charger Control -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Charger Control</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Charge Cell Voltage Error (mV)	</th>
                            <th>Cell Temperature Margin</th>
                            <th>Discharge Cell Voltage Error (mV)	</th>
                            <th>Total Pack Capacity (aH)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="cc0">
                            <td id="28518" class="okay">0</td>
                            <td id="28516" class="okay">0</td>
                            <td id="28514" class="okay">0</td>
                            <td id="28512" class="okay">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- PreCharge Status -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">PreCharge Status</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>PreCharge Timer</th>
                            <th>Timer Flag</th>
                            <th>PreCharge State	</th>
                            <th>Contactor Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="ps0">
                            <td id="28535" class="okay">0</td>
                            <td id="28534" class="okay">0</td>
                            <td id="28529" class="okay">0</td>
                            <td id="28528" class="okay">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Pack Status -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Pack Status</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>BMU Firmware Build Number	</th>
                            <th>CMU Count</th>
                            <th>Status Flags	</th>
                            <th>Balance voltage threshold falling mV</th>
                            <th>Balance voltage threshold rising mV</th>
                            <th>BMU Model ID</th>
                            <th>BMU Hardware Version</th>
                            <th>Extended Status Flags</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="ps0">
                            <td id="28598" class="okay">0</td>
                            <td id="28597" class="okay">0</td>
                            <td id="28596" class="okay">0</td>
                            <td id="28594" class="okay">0</td>
                            <td id="28592" class="okay">0</td>
                            <td id="28629" class="okay">0</td>
                            <td id="28628" class="okay">0</td>
                            <td id="28624" class="okay">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>