td.Normal {
    color: green;
}
td.LowWarn {
	background-color: #EBA120;
	color: #000;
}
td.LowErr {
	background-color: #c02424;
	color: #fff;
}
td.HighWarn {
	background-color: #EBA120;
	color: #000;
}
td.HighErr {
	background-color: #c02424;
	color: #fff;
}

#socChart{
    padding-top:2em;
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
    padding: 1em;
    max-height: 450px;
}

#voltageChart{
    padding-top:2em;
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
    padding: 1em;
    max-height: 450px;
}

#currentChart{
    padding-top:2em;
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
    padding: 1em;
    max-height: 450px;
}

