<!-- Battery State of charge / balance -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Battery State of Charge/Balance</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SOC Percentage</th>
                            <th>SOC (aH)</th>
                            <th>Pack Current (mA)</th>
                            <th>Pack Voltage (mV)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <!-- Battery state of charge measurements here -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Cell Voltages -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Cell Voltages</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CMU</th>
                            <th>Cell Temp (C)</th>
                            <th>PCB Temp (C)</th>
                            <th>Cell 0 mV</th>
                            <th>Cell 1 mV</th>
                            <th>Cell 2 mV</th>
                            <th>Cell 3 mV</th>
                            <th>Cell 4 mV</th>
                            <th>Cell 5 mV</th>
                            <th>Cell 6 mV</th>
                            <th>Cell 7 mV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <!-- Cell Voltage measurements here -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Cell Min/Max Voltage -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Cell Min/Max Voltage</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>CMU Number</th>
                            <th>Cell Number</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <!-- Cell Voltage measurements here -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Fan status -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Fan Status</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>12V Current CMUs</th>
                            <th>12V Current Fans/Controllers</th>
                            <th>Fan Speed 0 (RPM)</th>
                            <th>Fan Speed 1 (RPM)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <!-- Fan Status measurements here -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Charger Control -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Fan Status</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Charge Cell Voltage Error (mV)	</th>
                            <th>Cell Temperature Margin</th>
                            <th>Discharge Cell Voltage Error (mV)	</th>
                            <th>Total Pack Capacity (aH)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <!-- Charger Control measurements here -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- PreCharge Status -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">PreCharge Status</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>PreCharge Timer		</th>
                            <th>Timer Flag</th>
                            <th>PreCharge State	</th>
                            <th>Contactor Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <!-- PreCharge status measurements here -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Pack Status -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header card-primary card-inverse">
            <span class="card-title">Pack Status</span>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>BMU Firmware Build Number	</th>
                            <th>CMU Count</th>
                            <th>Status Flags	</th>
                            <th>Balance voltage threshold falling mV</th>
                            <th>Balance voltage threshold rising mV</th>
                            <th>BMU Model ID</th>
                            <th>BMU Hardware Version</th>
                            <th>Extended Status Flags</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <!-- PreCharge status measurements here -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>