<!-- Wrapper for SideNav Menu Options -->
<div id='sidenav-wrapper'>
      <button mat-button>Dashboard</button>
      <button mat-button>BMS Summary</button>
      <button mat-button [matMenuTriggerFor]="realtime">Real-time (2min)</button>

      <mat-menu #realtime="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="bms">Battery Management System</button>
      </mat-menu>
      
      <mat-menu #bms="matMenu">
          <button mat-menu-item>MU 3 Status</button>
          <button mat-menu-item>ell 4-7 Voltage (CMU 4)</button>
          <button mat-menu-item>Cell 0-3 Voltage (CMU 2)</button>
          <button mat-menu-item>Ext Pack Status</button>
          <button mat-menu-item>Cell 0-3 Voltage (CMU 3)</button>
          <button mat-menu-item>CMU 1 Status</button>
          <button mat-menu-item>CMU 2 Status</button>
          <button mat-menu-item>Device Info</button>
          <button mat-menu-item>Cell 4-7 Voltage (CMU 0)</button>
          <button mat-menu-item>Precharge Status</button>
          <button mat-menu-item>Fan Status</button>
          <button mat-menu-item>Cell 4-7 Voltage (CMU 3)</button>
          <button mat-menu-item>Cell 0-3 Voltage (CMU 4)</button>
          <button mat-menu-item>Pack Voltage Current</button>
          <button mat-menu-item>Pack Status</button>
          <button mat-menu-item>CMU 4 Status</button>
          <button mat-menu-item>Min Max Cell Temp</button>
          <button mat-menu-item>Cell 0-3 Voltage (CMU 1)</button>
          <button mat-menu-item>CMU 0 Status</button>
          <button mat-menu-item>Min Max Cell Voltage</button>
          <button mat-menu-item>Cell 0-3 Voltage (CMU 0)</button>
          <button mat-menu-item>Cell 4-7 Voltage (CMU 1)</button>
          <button mat-menu-item>Charger Controller</button>
          <button mat-menu-item>Cell 4-7 Voltage (CMU 2)</button>
          <button mat-menu-item>Stage of Charge</button>
      </mat-menu>
</div>

